<html>
<head>
  <title>TripMaestro Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header class="dashboard-header">
    <div class="header-left">
      <a href="{{ url_for('dashboard') }}" class="title-link"><h1>TripMaestro</h1></a>
    </div>
    <div class="header-right">
      <a href="/logout" class="btn-signout">Sign Out</a>
      <button class="btn-profile">Profile</button>
  </div>
  </header>

  <div class="holiday-selector">
    <form action="/calendar" method="GET">
      <select name="holidayID" required>
        <option value="">Select a holiday to view</option>
        {% for holiday in user_holidays %}
          <option value="{{ holiday.id }}">{{ holiday.title }} ({{ holiday.destination }})</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn-view-holiday">View Holiday</button>
    </form>
  </div>

  <main class="dashboard-main">
    <p>Based on your preferences, here’s what we found:</p>
    <table class="destination-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Web URL</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          {% for dest in page_items %}
          <tr>
            <td>{{ dest.name }}</td>
            <td>{{ dest.description }}</td>
            <td><a href="{{ dest.web_url }}" target="_blank">View</a></td> 
            <!--target="_blank" opens the link in a new tab-->
            <td>
              {% if dest.image_url %}
              <img src="{{ dest.image_url }}" alt="{{ dest.name }}">
              {% else %}
              No Image
              {% endif %}
            </td>
            <td>
                <form action="/new_holiday" method="GET"> 
                    <input type="hidden" name="destination" value="{{ dest.name }}">
                    <button type="submit" class="btn-plan">Plan a holiday here</button>
                </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    

    {% if prev_page %}
    <a class="btn-page" href="{{ url_for('dashboard', page=prev_page) }}">Previous Page</a>
    {% endif %}

    {% if next_page %}
    <a class="btn-page" href="{{ url_for('dashboard', page=next_page) }}">Next Page</a>
    {% endif %}

  </main>
</body>
</html>
