<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Register for TripMaestro</title>
</head>
<body>
    <h1>Register</h1>

    <div>
        {% for message in get_flashed_messages() %}
            <div>{{ message }}</div>
        {% endfor %}
    </div>

    <form action="{{ url_for('register') }}" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>

        <label for="explorativeRating">How much do you prioritise exploring the area in your holiday?</label>
        <select id="explorativeRating" name="explorativeRating" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <br><br>
        <label for="isolatedRating">How much do you prioritise a peaceful, isolated area?</label>
        <select id="isolatedRating" name="isolatedRating" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <br>
        <br>
        <label for="uniqueCuisineRating">How much do you value a unique cuisine?</label>
        <select id="uniqueCuisineRating" name="uniqueCuisineRating" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <br><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>
